html {
  height: 100%;
}

body {
  margin: 10px;
  overflow-y: scroll;
  height: 100%
}

body, input, button, select, option, th {
  font-size: 12pt;	
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

input[name^=url] {
	width: 480px;
}